DGC_CONFIG_DIR=/lib/dni_platform/config

[ -f $DGC_CONFIG_DIR/01-common_info.config ] && . $DGC_CONFIG_DIR/01-common_info.config
[ -f $DGC_CONFIG_DIR/02-network_interface_info.config ] && . $DGC_CONFIG_DIR/02-network_interface_info.config
[ -f $DGC_CONFIG_DIR/03-flash_info.config ] && . $DGC_CONFIG_DIR/03-flash_info.config
[ -f $DGC_CONFIG_DIR/04-feature_info.config ] && . $DGC_CONFIG_DIR/04-feature_info.config
[ -f $DGC_CONFIG_DIR/05-system_info.config ] && . $DGC_CONFIG_DIR/05-system_info.config
