<% http_head("logout_goodbye") %>
<% use_browser_language() %>
<body class="login">
<div id="fixedHeader">
	<div class="mask">
		<div class="container">
			<header>
				<img id="logo" src="image/logos/genie.png" alt="Netgear genie logo" />
				<p id="byline">$Orbi_satellite_title</p>
			</header>
		</div>
	</div>
</div><!-- end fixed header -->
<div id="content">
	<div class="container">
		<div class="middleMsg">
			<h1>$logout_info<br />$logout_goodbye</h1>
		</div>

	</div>
</div>
</body>  
</html>
