<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<% orbi_flow_head() %>
<% hijack_language() %>
</head>
<body>
<style>
	.ul-list{ height:auto; width:100%; }
	ul{ margin-left: 20px; border-left-width: 0px; margin-bottom: 20px;}
	ul li{ list-style-type:disc;}
	p{
		height:auto;
		width:100%;
	}
</style>
<div id="container">
	<div class="dialog-content">
	<div id="card-no-internet-cable" class="install-card clearfix" style="height:100%">
		<img class="netgear-logo" src="images/netgear.png">
		<div class="bullet-wrapper">
			<div class="desc-title">
				<p><b><script>document.write(bh_router_function);</script></b></p>
				<p><script>document.write(bh_router_function_desc1);</script></p>
				<div class="ul-list"><ul>
					<li><script>document.write(bh_access_control);</script></li>
					<li><script>document.write(bh_traffic_meter);</script></li>
					<li><script>document.write(bh_block_site);</script></li>
					<li><script>document.write(bh_block_service);</script></li>
					<li><script>document.write(bh_static_route);</script></li>
				</ul></div>
				
				<p><script>document.write(bh_router_function_desc2);</script></p>
				<div class="ul-list"><ul>
					<li><script>document.write(bh_port_forwarding);</script></li>
					<li><script>document.write(bh_port_triggering);</script></li>
					<li>IPv6</li>
					<li>UPnP/IGD</li>
					<li><script>document.write(bh_remote_management);</script></li>
					<li><script>document.write(bh_vpn_termination);</script></li>
				</ul></div>
			</div>
		</div>
	</div>
	</div>
</div>
</body>
</html>
