<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
<% orbi_flow_head() %>
<meta http-equiv="refresh" content="12; url=BRS_04_B_checkNet.html" />
<% hijack_language() %>
</head>

<body>
<% form_submit("func", "BRS_03A_detcInetType.html", "wizard_detwan")  %>
<div id="container">
	<div class="dialog-content">
		<!-- Searching for Internet -->
		<div id="card-searching-internet" class="install-card clearfix">
			<img class="netgear-logo" src="images/netgear.png">
			<img class="orbi-logo svg-transition" src="images/orbi.png">

			<div class="spinner"></div>
			<div class="desc-text"><script>document.write(bh_orbi_check_conn);</script></div>
		</div>
	</div>
</div>
</form>
<iframe name="ping_frame" src="BRS_ping.html" allowtransparency="true" scrolling="no" frameborder="0" style="display:none"></iframe>
</body>

</html>


