<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
<% orbi_flow_head() %>
<script language="javascript" type="text/javascript" src="script/funcs.js"></script>
<script language="javascript" type="text/javascript" src="script/brs_hijack_03C_haveOrange.js"></script>
<% hijack_language() %>
<% deleteFiles("/tmp/ping_result_error", "/tmp/ping_ip_result_error", "/tmp/ping_gateway_result_error")%>
<% deleteFiles("/tmp/ping_result", "/tmp/wget_file_result") %>
</head>
<body>
<% form_submit("apply", "BRS_04_applySettings.html", "hijack_orange") %>

<script>
var master="<% cfg_get("http_loginname") %>";
var lan_ports_num = top.lan_ports_num;
function sel_opt(type)
{
	var form=document.forms[0];
	form.Orange_type.value = type;
	document.getElementById("passwd_line").style.display = "";
	document.getElementById("enable_orange_line").style.display = "";
	document.getElementById("login_line").style.display = "";
	document.getElementById("enable_iptv_ports").style.display = "";
	if(form.Orange_type.value == "orange_dhcp" || form.Orange_type.value == "orange_spain_dhcp")
	{
		document.getElementById("passwd_line").style.display = "none";
		document.getElementById("enable_iptv_ports").style.display = "none";
		if(form.Orange_type.value == "orange_dhcp")
			document.getElementById("iptv_label").innerHTML = "Orange France IPTV";
		else if(form.Orange_type.value == "orange_spain_dhcp")
			document.getElementById("iptv_label").innerHTML = "Orange Spain IPTV";
	}
	else if(form.Orange_type.value == "singtel_singa_dhcp" || form.Orange_type.value == "unifi_malaysia_dhcp" || form.Orange_type.value == "maxis_malaysia_dhcp")
 	{
		document.getElementById("passwd_line").style.display = "none";
		document.getElementById("login_line").style.display = "none";
		if(form.Orange_type.value == "singtel_singa_dhcp")
			document.getElementById("iptv_label").innerHTML = "SingTel Singapore IPTV";
		else if(form.Orange_type.value == "unifi_malaysia_dhcp")
			document.getElementById("iptv_label").innerHTML = "Unifi Malaysia IPTV";
		else if(form.Orange_type.value == "maxis_malaysia_dhcp")
			document.getElementById("iptv_label").innerHTML = "Maxis Malaysia IPTV";
	}
	else if(form.Orange_type.value == "orange_pppoe" || form.Orange_type.value == "movistar_spain_pppoe" || form.Orange_type.value == "vodafone_spain_pppoe")
 	{
		document.getElementById("enable_orange_line").style.display = "none";
		document.getElementById("enable_iptv_ports").style.display = "none";
	}
}

</script>
<input type="hidden" name="hidden_enable_orange">
<input type="hidden" name="Orange_type">
<input type="hidden" name="hid_wired_port" value="0" />
<input type="hidden" name="hid_wireless_port" value="0" />
<div id="container">
	<div class="dialog-content">
		<!-- Orbi Setup WiFi-->
		<div id="card-orbi-setup-wifi" class="install-card clearfix">
			<img class="netgear-logo" src="images/netgear.png">
			
			<div class="input-wrapper " style="padding-top:15px">
				<div class="input-title ddl-title"></div>
				<div class="dropdown">
					<input type="button" id="sec-question-one" data-target="#sec-question-one sec-question-one" class="dropdown-menu btn btn-default dropdown-toggle" data-toggle="dropdown" aria-controls="sec-question-one" style="z-index:10000000">
						<span><script>document.write(bh_my_isp);</script></span>
						<img class="ddl-caret" src="images/caret.png">
					</input>
					<ul class="dropdown-menu sec-question-one" role="menu" aria-labelledby="sec-question-one">
						<script>
						//document.write('<li role="presentation" onclick="sel_opt(0);"><a role="menuitem" tabindex="-1" href="#" class="waves-effect active">'+bh_my_isp+'</a></li>');
						if(top.support_orange_vlan == 1){
						document.write('<li role="presentation" onclick="sel_opt(\'orange_dhcp\');"><a role="menuitem" tabindex="-1" href="#" class="waves-effect">Orange France DHCP</a></li>');
						document.write('<li role="presentation" onclick="sel_opt(\'orange_pppoe\');"><a role="menuitem" tabindex="-1" href="#" class="waves-effect">Orange France PPPoE</a></li>');}
						if(top.support_spain_isp_flag ==1){
						//document.write('<li role="presentation" onclick="sel_opt(\'orange_spain_dhcp\');"><a role="menuitem" tabindex="-1" href="#" class="waves-effect">'+bh_orange_spain_dhcp+'</a></li>');
						document.write('<li role="presentation" onclick="sel_opt(\'movistar_spain_pppoe\');"><a role="menuitem" tabindex="-1" href="#" class="waves-effect">'+bh_movi_spain_dhcp+'</a></li>');
						document.write('<li role="presentation" onclick="sel_opt(\'vodafone_spain_pppoe\');"><a role="menuitem" tabindex="-1" href="#" class="waves-effect">'+bh_voda_spain_dhcp+'</a></li>');
						}
						if(top.support_singapore_isp_flag ==1)
						{
						document.write('<li role="presentation" onclick="sel_opt(\'singtel_singa_dhcp\');"><a role="menuitem" tabindex="-1" href="#" class="waves-effect">'+bh_singtel_singa_dhcp+'</a></li>');
						}
						if(top.support_malaysia_isp_flag ==1){
						document.write('<li role="presentation" onclick="sel_opt(\'unifi_malaysia_dhcp\');"><a role="menuitem" tabindex="-1" href="#" class="waves-effect">'+bh_unifi_malaysia_dhcp+'</a></li>');
						document.write('<li role="presentation" onclick="sel_opt(\'maxis_malaysia_dhcp\');"><a role="menuitem" tabindex="-1" href="#" class="waves-effect">'+bh_maxis_malaysia_dhcp+'</a></li>');
						}
						</script>
					</ul>
				</div>
			</div>

			<div name="login_line" id="login_line" class="input-wrapper input-text-box-one">
				<div class="input-title"><script>document.write(bh_pppoe_login_name);</script></div>
				<input type="text" id="orange_login" maxlength="64" align="right" name="orange_login" autocomplete="off"/>
			</div>

			<div class="input-wrapper input-text-box-two" name="passwd_line" id="passwd_line" style="display:none;">
				<div class="input-title"><script>document.write(bh_ddns_passwd);</script></div>
				<input type="text"  maxlength="16" align="right" name="orange_passwd" autocomplete="off" />
			</div>

			<div class="margin-top-10" style="width: 230px;margin-left: auto;margin-right: auto;" id="enable_orange_line">
				<input type="checkbox" name="enable_orange" id="enable_orange" >
				<label for="enable_orange" id="iptv_label"><script>document.write(bh_enable_orange_tv);</script></label>
			</div>
			<div style="width: 240px;margin-left: auto;margin-right: auto;">
			<table><tbody>
				<tr name="enable_iptv_ports" id="enable_iptv_ports" style="display:none">
					<script>	
						for(var count = 0; count < lan_ports_num; count++){
						var port_num = count+1;
						document.write('<td align="center"><input type="checkbox" id="iptv_ports_'+count+'" name="iptv_ports_'+count+'"><label for="iptv_ports_'+count+'">Port'+port_num+'</td>');}
						if(document.getElementById("iptv_ports_2")!=undefined)
							document.getElementById("iptv_ports_2").checked = true;
					</script>

				<td>&nbsp;</td>
				<!--td align="center" class="btm0"><input type="checkbox" id="iptv_ports_10" name="iptv_ports_10"><label for="iptv_ports_10">WiFi-2.4G</label></td>
				<td align="center" class="btm0"><input type="checkbox" id="iptv_ports_11" name="iptv_ports_11"><label for="iptv_ports_11">WiFi-5G</label></td>
				<td style="display:none" align="center"><input type="checkbox" id="iptv_ports_12" name="iptv_ports_12"><label for="iptv_ports_12">Guest-2.4G</label></td>
				<td style="display:none" align="center"><input type="checkbox" id="iptv_ports_13" name="iptv_ports_13"><label for="iptv_ports_13">Guest_5G</label></td-->
				<tr>
 			</tbody>
 		</table>
			</div>
			<button class="waves-effect waves-light btn button-nav" onclick="return check_orange();">
				<span><script>document.write(bh_orbi_next_mark);</script></span>
			</button>

          </div>
	</div>
</div>

</form>
</body>

</html>
