<!--% satellite_setup() %-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
<% orbi_flow_head() %>
<meta http-equiv="refresh" content="10; url=BRS_security.html" />
<% hijack_language() %>
</head>
<body>

<div id="container">
	<div class="dialog-content">
		<!-- Setting-up Sattellite -->
		<div id="card-setting-up-satellite" class="install-card clearfix">
			<img class="netgear-logo" src="images/netgear.png">
			<img class="orbi-success-logo" src="images/orbi_success.png">

			<div class="desc-title"><script>document.write(bh_orbi_setting_satellite);</script></div>

			<div class="spinner"></div>
			<div class="desc-text"><script>document.write(bh_orbi_pls_wait);</script></div>
		</div>
	</div>
</div>

</body>

</html>
