<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<% orbi_flow_head() %>
<% hijack_language() %>
</head>
<style>	
p{
	height:auto;
	width:100%;
}
</style>
<body>
<div id="container">
	<div class="dialog-content">
	<div id="card-no-internet-cable" class="install-card clearfix" style="height:100%">
		<img class="netgear-logo" src="images/netgear.png">
		<div class="bullet-wrapper">
		  <div class="desc-title" style="margin-top: 0px;">
			<div style="width:100%; text-align:center;"><h1 style="font-size:1.28em;"><b><script>document.write(bh_router_or_ap);</script></b></h1></div>
			<p><script>document.write(bh_mode_general);</script></p>
			<img src="image/ap-4.png" height="180" style="margin-bottom:20px;">
			<p><b><script>document.write(bh_ap_mode);</script></b></p>
			 <p><script>document.write(bh_ap_desc1);</script></p>
		 
			<img src="image/router_map.png" height="200" style="margin-bottom:20px;">
			<p><b><script>document.write(bh_router_mode);</script></b></p>
			<p><script>document.write(bh_router_desc1);</script></p>
		 </div>
		</div>
	</div>
	</div>
</div>
</body>
<html>
