<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
<% orbi_flow_head() %>
<script language="javascript" type="text/javascript" src="script/funcs.js"></script>
<% hijack_language() %>
<% deleteFiles("/tmp/ping_result_error", "/tmp/ping_ip_result_error", "/tmp/ping_gateway_result_error")%>
<% deleteFiles("/tmp/ping_result", "/tmp/wget_file_result") %>
</head>

<body onLoad="loadvalue()">
<% form_submit("apply", "BRS_04_applySettings.html", "hijack_pptp") %>

<input type="hidden" name="WANAssign" value="0" />
<input type="hidden" name="pptp_subnet" value="" />
<input type="hidden" name="ip_address" value="" />
<input type="hidden" name="gateway" value="" />

<script>
function IETester(userAgent){
    var UA =  userAgent || navigator.userAgent;
    if(/msie/i.test(UA)){
        return UA.match(/msie (\d+\.\d+)/i)[1];
    }else if(~UA.toLowerCase().indexOf('trident') && ~UA.indexOf('rv')){
        return UA.match(/rv:(\d+\.\d+)/)[1];
    }
    return false;
}

function loadvalue()
{
	if(IETester() && IETester() == "10.0"){
		document.getElementById("pptp_serv_ip").style.width = "219px";
		document.getElementById("pptp_serv_ip").style.paddingRight = "5px";
	}
		
}

function checkPPTP()
{
	var forms = document.getElementsByTagName("form");
	var cf = forms[0];

	var pptp_username = document.getElementById("pptp_username");
	var pptp_passwd = document.getElementById("pptp_passwd");
	var pptp_idletime = document.getElementById("pptp_idletime");

	if(pptp_username.value=="")
	{
		alert(bh_login_name_null);
		return false;
	}

	var i;
	for(i=0; i<pptp_passwd.value.length; i++)
	{
		if(isValidChar(pptp_passwd.value.charCodeAt(i))==false)
		{
			alert(bh_password_error);
			return false;
		}
	}
	if(pptp_idletime.value.length <= 0)
	{
		alert(bh_idle_time_null);
		return false;
	}
	else if(!_isNumeric(pptp_idletime.value))
	{
		alert(bh_invalid_idle_time);
		return false;
	}

	if(!checkIPaddr())
		return false;

	return true;
}

function checkIPaddr()
{
	var forms = document.getElementsByTagName("form");
        var cf = forms[0];

	cf.ip_address.value = cf.myip_1.value+'.'+cf.myip_2.value+'.'+cf.myip_3.value+'.'+cf.myip_4.value;
	cf.gateway.value = cf.mygw_1.value+'.'+cf.mygw_2.value+'.'+cf.mygw_3.value+'.'+cf.mygw_4.value;

	if(cf.ip_address.value != "...")
	{
		cf.WANAssign.value = 1;

                /* To fix Bug27179: [New GUI][CD-less]DUT should pop up error message if Gateway IP Address
		 * and My IP Address are in different network.
		 */

		var pptp_mask="255.255.255.0";

		if( parseInt(cf.myip_1.value) < 128 )
			pptp_mask="255.0.0.0";
		else if( parseInt(cf.myip_1.value) < 192 )
			pptp_mask="255.255.0.0";
		else
			pptp_mask="255.255.255.0";

		cf.pptp_subnet.value=pptp_mask;


		if(checkipaddr(cf.ip_address.value)==false)
		{
			alert(bh_invalid_myip);
			return false;
		}
		/*Bug 30115 - [GUI][CD-less/Setup Wizard]I can set My IP address as 10.0.0.138 when detected as PPTP mode*/
		if(isSameIp(cf.ip_address.value,cf.pptp_serv_ip.value) == true)
		{
			alert(bh_same_server_wan_ip);
			return false;
		}
		if(cf.gateway.value != "..." && checkgateway(cf.gateway.value) == false)
		{
			alert(bh_invalid_gateway);
			return false;
		}
		if(cf.gateway.value != "...")
		{
			if(isSameIp(cf.ip_address.value,cf.gateway.value) == true)
			{
				alert(bh_invalid_gateway);
				return false;
			}
			if(isGateway(cf.ip_address.value,cf.pptp_subnet.value,cf.gateway.value) == false)
			{
				alert(bh_invalid_gateway);
				return false;
			}
		}
	}
	else
		cf.WANAssign.value=0;

	return true;
}

</script>
<div id="container">
	<div class="dialog-content">
		<!-- Incorrect ISP-->
		<div id="card-PPTP-internet" class="install-card clearfix">
			<img class="netgear-logo" src="images/netgear.png">

			<div class="desc-title"><script>document.write(bh_pptp_connection);</script></div>
			<div class="desc-text"><script>document.write(bh_orbi_enter_info_below);</script></div>

			<div class="input-wrapper col-lg-6 col-md-6 col-sm-6 float-left mobile-input-fix">
				<div class="input-title"><script>document.write(bh_pppoe_login_name);</script></div>
				<input type="text" id="pptp_username" maxlength="60" name="pptp_username" >
			</div>

			<div class="input-wrapper col-lg-6 col-md-6 col-sm-6 input-wrapper-right mobile-input-fix">
				<div class="input-title"><script>document.write(bh_ddns_passwd);</script></div>
				<input type="password" id="pptp_passwd" maxlength="16" name="pptp_passwd">
			</div>

			<div class="input-wrapper col-lg-6 col-md-6 col-sm-6 float-left mobile-input-fix">
				<div class="input-title"><script>document.write(bh_basic_pppoe_idle);</script></div>
				<input type="number" class="ip-box" id="pptp_idletime" name="pptp_idletime" min="0">
			</div>

			<div class="col-lg-12 col-md-12 col-sm-12 ip-wrapper">
				<div class="input-title"><script>document.write(bh_info_mark_ip);</script></div>
				<input class="ip-box" name="myip_1" id="myip1" autocomplete="off" maxlength="3" onfocus="this.select();" onkeydown="keydown(event,this);" onkeypress="return getkey('num',event);" onkeyup="keyup(event,this);" type="text"><div>.</div>
				<input class="ip-box" name="myip_2" id="myip2" autocomplete="off" maxlength="3" onfocus="this.select();" onkeydown="keydown(event,this);" onkeypress="return getkey('num',event);" onkeyup="keyup(event,this);" type="text"><div>.</div>
				<input class="ip-box" name="myip_3" id="myip3" autocomplete="off" maxlength="3" onfocus="this.select();" onkeydown="keydown(event,this);" onkeypress="return getkey('num',event);" onkeyup="keyup(event,this);" type="text"><div>.</div>
				<input class="ip-box" name="myip_4" id="myip4" autocomplete="off" maxlength="3" onfocus="this.select();" onkeydown="keydown(event,this);" onkeypress="return getkey('num',event);" onkeyup="keyup(event,this);" type="text">
 			</div>

			<div class="col-lg-12 col-md-12 col-sm-12 ip-wrapper">
				<div class="input-title"><script>document.write(bh_sta_routes_gtwip);</script></div>
				<input class="ip-box" name="mygw_1" id="mygw1" autocomplete="off" maxlength="3" onfocus="this.select();" onkeydown="keydown(event,this);" onkeypress="return getkey('num',event);" onkeyup="keyup(event,this);" type="text"><div>.</div>
				<input class="ip-box" name="mygw_2" id="mygw2" autocomplete="off" maxlength="3" onfocus="this.select();" onkeydown="keydown(event,this);" onkeypress="return getkey('num',event);" onkeyup="keyup(event,this);" type="text"><div>.</div>
				<input class="ip-box" name="mygw_3" id="mygw3" autocomplete="off" maxlength="3" onfocus="this.select();" onkeydown="keydown(event,this);" onkeypress="return getkey('num',event);" onkeyup="keyup(event,this);" type="text"><div>.</div>
				<input class="ip-box" name="mygw_4" id="mygw4" autocomplete="off" maxlength="3" onfocus="this.select();" onkeydown="keydown(event,this);" onkeypress="return getkey('num',event);" onkeyup="keyup(event,this);" type="text">
			</div>

			<div class="input-wrapper col-lg-6 col-md-6 col-sm-6 float-left">
				<div class="input-title non-active-val disabled"><script>document.write(bh_basic_pptp_servip);</script></div>
				<input type="text" value="10.0.0.138" id="pptp_serv_ip" name="pptp_serv_ip">
			</div>

			<div class="input-wrapper col-lg-6 col-md-6 col-sm-6 input-wrapper-right">
				<div class="input-title"><script>document.write(bh_basic_pptp_connection_id);</script></div>
				<input type="text" id="inputConID" name="connection_ID">
			</div>

			<button class="waves-effect waves-light btn button-nav" onclick="return checkPPTP();">
				<span><script>document.write(bh_orbi_next_mark);</script></span>
			</button>
		</div>
	</div>
</div>

</form>
</body>

</html>
