<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
<% orbi_flow_head() %>
<% hijack_language() %>
</head>
<script>
function loadvalue()
{
	setTimeout("document.forms[0].submit();", 50000);
}
</script>
<body onload="loadvalue();">
<% form_submit("func", "BRS_03A_detcInetType.html", "wizard_detwan")  %>

<div id="container">
	<div class="dialog-content">
		<!-- Applying Internet Connection -->
		<div id="card-applying-internet-connection" class="install-card clearfix">

			<img class="netgear-logo" src="images/netgear.png">
			<img class="orbi-logo svg-transition" src="images/orbi.png">

			<div class="desc-title"><script>document.write(bh_apply_connection);</script></div>
			<div class="desc-text"><script>document.write(bh_orbi_wait);</script></div>

			<div class="spinner"></div>
			<div class="desc-text wait"><script>document.write(bh_orbi_pls_wait);</script></div>
		</div>
	</div>
</div>
</form>
</body>

</html>


