<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<% orbi_flow_head() %>
<% hijack_language() %>
</head>

<body>
<div id="container">
	<div class="dialog-content">
	<div id="card-no-internet-cable" class="install-card clearfix" style="overflow-y:auto;">
		<img class="netgear-logo" src="images/netgear.png">
		<div class="bullet-wrapper">
		  <div class="desc-title">
			<h1 style="font-size:1.28em;"><b><script>document.write(bh_router_or_ap);</script></b></h1>
			<p><script>document.write(bh_mode_general);</script></p>
			<div style="margin-top: 20px;"><img src="image/G1.jpg" height="245"></div>
			<p><b><script>document.write(bh_router_mode);</script></b></p>
			<p><script>document.write(bh_router_desc1);</script></p>
			
		 </div>
		</div>
	</div>
	</div>
</div>
</body>
<html>
