<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
<% orbi_flow_head() %>
<% hijack_language() %>
</head>

<body onload="loadvalue()">
<script>
function loadvalue()
{
	var cf = document.forms[0];
	var wl_sectype="<% cfg_get("wl_sectype") %>";
	if(wl_sectype=="1")
		location.href="BRS_orbi_complete.html";
	else
		document.getElementById("container").style.display="";
}

function isValidChar_space(each_char)
{
	if( each_char < 32 || each_char > 127)
		return false;
}
function isValidHex(each_char)
{
	var macVals = new Array("0", "1", "2", "3", "4", "5", "6", "7", "8", "9","A", "B", "C", "D", "E", "F", "a", "b", "c", "d", "e", "f");
	var len = macVals.length;
	var i = 0;
	var ret = false;
	for ( i = 0; i < len; i++ )
		if ( each_char == macVals[i] ) break;
	if ( i < len )
		ret = true;
	return ret;
}

function checkpsk(passphrase, passphrase_len)
{
	var len = passphrase.value.length;
	if ( len == 64 )
	{
		for(i=0;i<len;i++)
		{
			if(isValidHex(passphrase.value.charAt(i))==false)
			{
				alert(bh_notallowpassps);
				return false;
			}
		}
	}
	else
	{
		if(len < 8 )
		{
			alert(bh_passphrase_short8);
			return false;
		}
		if(len > 63)
		{
			alert(bh_passphrase_long63);
			return false;
		}
		for(i=0;i<passphrase.value.length;i++)
		{
			if(isValidChar_space(passphrase.value.charCodeAt(i))==false)
			{
				alert(bh_notallowpassps);
				return false;
			}
		}
	}
	passphrase_len.value=len;
	return true;
}
function checkwlan(cf)
{
	var tmp_ssid=cf.ssid.value;
	var ssid_len = tmp_ssid.length;
	for(i=0;i<tmp_ssid.length;i++)
	{
		if(tmp_ssid.charCodeAt(i)==32)
			ssid_len--;
	}
	if(tmp_ssid == "" || ssid_len == 0)
	{
		alert(bh_ssid_null);
		return false;
	}
	for(i=0;i<tmp_ssid.length;i++)
	{
		if(isValidChar_space(tmp_ssid.charCodeAt(i))==false)
		{
			alert(bh_ssid_not_allowed);
			return false;
		}
	}
	if( checkpsk(cf.password, cf.wl_sec_wpaphrase_len)== false)
			return false;
	var d = new Date();
	cf.hid_apply_time.value = Math.floor(d.getTime()/1000);

	return true;
}
</script>
<% form_submit("apply", "BRS_wlan_plsWait.html", "hijack_wlan") %>
<input type="hidden" name="wl_sec_wpaphrase_len" />
<input type="hidden" name="hid_apply_time" />
<input type="hidden" name="hid_save_time" value="6">
<div id="container" style="display:none">
	<div class="dialog-content">
		<!-- Orbi Setup WiFi-->
		<div id="card-orbi-setup-wifi" class="install-card clearfix">
			<img class="netgear-logo" src="images/netgear.png">

			<div class="desc-title"><script>document.write(bh_orbi_wlan);</script></div>
			<div class="desc-text"><script>document.write(bh_orbi_wlan_msg);</script></div>

			<div class="input-wrapper input-text-box-one">
				<div class="input-title non-active-val"><script>document.write(bh_orbi_ssid);</script></div>
				<input type="text" name="ssid" maxlength="32" value="<% cfg_get_ssid_value("wl_ssid") %>"/>
			</div>

			<div class="input-wrapper input-text-box-two">
				<div class="input-title non-active-val"><script>document.write(bh_ddns_passwd);</script></div>
				<input type="text" name="password" maxlength="64" value="<% get_wifi_pwd() %>"/>
			</div>

			<button class="waves-effect waves-light btn button-nav" onclick="return checkwlan(document.forms[0]);">
				<span><script>document.write(bh_orbi_next_mark);</script></span>
			</button>

			<!--button class="waves-effect btn-flat button-nav-skip">
				<span>SKIP</span>
			</button-->
		</div>
	</div>
</div>
</form>
</body>

</html>
