# Included in bash shell

if [ -z $__DNI_G_NETWORK__ ]; then
__DNI_G_NETWORK__=1


WAN_PHYNAME=eth0
LAN_PHYNAME=eth1
WLAN_2G_PHYNAME=wifi0
WLAN_5G_PHYNAME=wifi1
WLAN_5G_BH_PHYNAME=wifi2
WAN_IFNAME=brwan
LAN_IFNAME=br0
PPP_IFNAME=ppp0
MPPP_IFNAME=ppp1
IPV6_PPP_IFNAME=ppp2
WLAN_Base_2G_AP_IFNAME=ath0
WLAN_Base_2G_GUEST_AP_IFNAME=ath02
WLAN_Base_5G_AP_IFNAME=ath1
WLAN_Base_5G_GUEST_AP_IFNAME=ath11
WLAN_Base_2G_BH_AP_IFNAME=ath01
WLAN_Base_5G_BH_AP_IFNAME=ath2
WLAN_Sate_2G_AP_IFNAME=ath0
WLAN_Sate_2G_GUEST_AP_IFNAME=ath02
WLAN_Sate_5G_AP_IFNAME=ath1
WLAN_Sate_5G_GUEST_AP_IFNAME=ath11
WLAN_Sate_2G_BH_STA_IFNAME=ath01
WLAN_Sate_5G_BH_STA_IFNAME=ath2
WLAN_Sate_DS_2G_BH_AP_IFNAME=ath01
WLAN_Sate_DS_2G_GUEST_AP_IFNAME=ath03
WLAN_Sate_DS_5G_BH_AP_IFNAME=ath2
WLAN_Sate_DS_5G_GUEST_AP_IFNAME=ath11
WLAN_Sate_DS_2G_BH_STA_IFNAME=ath02
WLAN_Sate_DS_5G_BH_STA_IFNAME=ath21

WLAN_5G_FH_PREFIX=
WLAN_5G_GUEST_PREFIX=
WLAN_5G_BH_PREFIX=

BR_IF=$LAN_IFNAME
LAN_IF=$LAN_IFNAME
WAN_IF=$WAN_IFNAME
WAN_PHYIF=$WAN_PHYNAME
LAN_PHYIF=$LAN_PHYNAME

fi
