# Included in bash shell

if [ -z $__DNI_G_FLASH__ ]; then
__DNI_G_FLASH__=1

FLASH_TYPE=EMMC

FLASH_CALDATA_NAME=ARTMTD
FLASH_CALDATA_DEV=/dev/mmcblk0p12
FLASH_LANGUAGE_NAME=language
FLASH_LANGUAGE_DEV=/dev/mmcblk0p13
FLASH_CONFIG_NAME=config
FLASH_CONFIG_DEV=/dev/mmcblk0p14
FLASH_POT_NAME=pot
FLASH_POT_DEV=/dev/mmcblk0p15
FLASH_TRAFFICMETER_NAME=traffic_meter
FLASH_TRAFFICMETER_DEV=/dev/mmcblk0p16
FLASH_FW_NAME=firmware
FLASH_FW_DEV=/dev/mmcblk0p21
FLASH_FW2_NAME=firmware-2
FLASH_FW2_DEV=/dev/mmcblk0p26
FLASH_OOPS_NAME=mtdoops
FLASH_OOPS_DEV=/dev/mmcblk0p22
FLASH_CERT_NAME=cert
FLASH_CERT_DEV=/dev/mmcblk0p23
FLASH_DEVTABLE_NAME=device_table
FLASH_DEVTABLE_DEV=/dev/mmcblk0p24

fi
