# Included in bash shell

if [ -z $__DNI_G_FEATURE__ ]; then
__DNI_G_FEATURE__=1

FUNC_HAVE_USB=0
FUNC_HAVE_VPN=0
FUNC_HAVE_GUEST_PORTAL=0
FUNC_HAVE_DUAL_IMAGE=0

FUNC_HAVE_READYSHARE_PRINTER=0
FUNC_HAVE_GUEST_NETWORK=0
FUNC_HAVE_BYOD_NETWORK=0
FUNC_HAVE_DNI_PARENTAL_CTL=0
FUNC_HAVE_VLAN=0
FUNC_HAVE_VLAN_SB=0
FUNC_HAVE_BUSINESS_AP_DETECT=0
FUNC_HAVE_WIRELESS_COMBINE=0
FUNC_HAVE_SPEEDTEST_MENU=0
FUNC_HAVE_ORBI_MINI=0
FUNC_HAVE_FORCESHIELD=0
FUNC_HAVE_TT3=0
FUNC_HAVE_QOS=0
FUNC_HAVE_CIRCLE=0
FUNC_HAVE_CONTROL_FIRMWARE=0
FUNC_HAVE_VPNCHECK=0
FUNC_HAVE_LACPD_DNI=0
FUNC_BASE_HAVE_TRI_BAND=0
FUNC_SATE_HAVE_TRI_BAND=0
FUNC_HAVE_ARMOR=0
FUNC_HAVE_AUTOTIMEZONE=0

fi
